<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<script src="angular.min.js"></script>
	<script src="angular.animate.min.js"></script>
	<script src="angular.min.js.map"></script>
	<script src="app.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>ngMadLibs</title>
</head>
<body ng-controller="myController">
	<div id="wrapper">
		<header>
			<div id="head-left">
				<div id="smiley" ng-click="reset()"></div>
			</div>
			<div id="head-right">
				<div id="logo"></div>
				<div id="header-text"><span>Automate This!</span></div>
			</div>
		</header>

		<section class="words-section">
			<div id="words">
				<p><span id="gender">Are you <a ng-click="changeGender('m')" class = "selection" ng-class="gender == 'm' ? 'active' : '' ">MALE</a> or <a ng-click="changeGender('f')" class = "selection" ng-class="gender == 'f' ? 'active' : '' ">FEMALE?</a></span></p>
				<br>
				<p><span id="words-title">Provide the following words:</span></p>
			
				<form name="form" id="choices" ng-submit="results=true">
					<div class="column">
						<input type="text" class="box" placeholder="your name" ng-model="template.name" required/>
						<input type="text" class="box" placeholder="job title"  ng-model="template.job_title" required/>
						<input type="text" class="box" placeholder="tedious task" ng-model="template.tedious_task" required/>
					</div>
					<div class="column">
						<input type="text" class="box" placeholder="dirty task" ng-model="template.dirty_task" required/>
						<input type="text" class="box" placeholder="celebrity" ng-model="template.celebrity" required/>
						<input type="text" class="box" placeholder="useless skill" ng-model="template.useless_skill" required/>
					</div>
					<div class="column">
						<input type="text" class="box" placeholder="obnoxious celebrity" ng-model="template.obnoxious_celebrity" required/>
						<input type="number" class="box" placeholder="huge number" ng-model="template.huge_number" required/>
						<input type="text" class="box" placeholder="adjective" ng-model="template.adjective" required/>
					</div>
				
				<div class="lower-bar">
					<button type="submit" class="button generate grow">Generate my Mad Lib!</button>
				</form>

					<div class="button reset grow" ng-click="reset(); results=false" value="Reset">Reset</button>
				</div>		
			</div>
		</section>
		
		

		<section class="result-section" ng-show="results" ng-animate="'animate'">
			<div id="result-text">
				<p id="result">
					{{template.name}} was a {{template.job_title}} who loved technology. Although {{gender=='m' ? 'he' : 'she'}} loved parts of {{gender=='m' ? 'his' : 'her'}} job, {{gender=='m' ? 'he' : 'she'}} absolutely hated  {{template.tedious_task}} and {{template.dirty_task}}. So, {{template.male_name}} met with {{gender=='m' ? 'his' : 'her'}} life mentor, {{template.celebrity}}, who told {{gender=='m' ? 'him' : 'her'}} to learn how to {{template.useless_skill}} with Thinkful. Thinkful didn't offer a course on {{template.useless_skill}} so {{gender=='m' ? 'he' : 'she'}} studied programming instead. What a great decision! With {{gender=='m' ? 'his' : 'her'}} new skills, {{template.name}} built a(n) {{adjective}} robot named {{template.obnoxious_celebrity}} that not only loved {{template.dirty_task}} but did it {{template.huge_number}} times faster. 
				</p>
			</div>
		</section>
	</div>

</body>
</html>